@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
a:hover{
    transform: scale(1.15);
}
body{
    margin: 0;
    padding: 0;
    zoom: 85%;
}
nav{
    height: 14vh;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content:center;  
    z-index: 2;
    position: absolute;
    width: 100%;
}
nav:hover{
    background-color: black;
}
.nav-bar{
    margin-top: 20px;
    margin-left: 100px;     
}
 .nav-bar a {
    color: hsl(233, 8%, 62%);
    text-decoration: none;
    padding-left: 10px;
    height: 14vh;
    text-align: center;  

}

nav a:hover{
    text-decoration: none;
    color: white;
}
.request-btn{
    margin-left: 100px;
    border-radius: 15px;
    height: 30px;
    margin-top: 17px;
    color: #ffff;
    background: linear-gradient( to right ,limegreen ,cyan);
    border: none;
    width: 150px;
}
#section1{
  height: 90vh;
  background-color: hsl(0, 0%, 98%) ; 
  display: flex;
  background-image: url(images/bg-intro-desktop.svg);
  background-position: right;
  background-size: 650px;
   
  background-repeat: no-repeat;

}
.s1-intro{
    padding-top: 100px;
    margin-left: 100px;
    
}
.s1-intro h1{
  font-size: 30px;
  font-family: montserrat;
  font-weight: 450;
  color:  #152F2E;
  font-stretch: expanded;
}
.s1-intro p{
    line-height: 23px;
    color:  hsl(233, 8%, 62%);
    font-family: montserrat;
}
.request-btn2{
    border-radius: 15px;
    height: 30px;
    width: 150px;
    margin-top: 10px;
    color: #ffff;
    background-color: hsla(105, 77%, 49%, 0.909);
    border: none;
    background: linear-gradient( to right ,limegreen ,cyan);
}
.mock-background{
    height:500px;
    background-position: left;
    width: 100px;
    margin-left: 36px;
    padding-top: 50px;   
}
 .img-mock{
    margin-left: 100px;
    bottom: 50px;
    position: relative;

} 
#section2{
 background-color: hsl(220, 16%, 96%) ; 
 height: 85vh;
 padding-bottom: 150px;
}
.s2-intro{
  padding-top: 50px;
  margin-left: 100px ;

}
.s2-intro h2{
    font-weight: 450;
    font-family: montserrat;
    color: #152F2E;
}
.s2-intro p{
    color: hsl(233, 8%, 62%);
    font-family: montserrat; 
}
article{
    margin-top: 20px;
    font-size: 18px;
    font-stretch: expanded;
}
main{
    display: flex;
    margin-left: 10px;
    justify-content: space-evenly;
    margin-top: 70px;
    
}
.s2-body p{
   color: hsl(233, 8%, 62%) ;
}

#section3{
   height: 135vh; 
   padding-bottom: 40px;
}
 .s3-intro{
    padding-left: 100px;
    padding-top: 40px;
}
.latest{
    color: #152F2E;
    font-family: montserrat;
    font-weight: 450;
    padding-top: 20px;
    margin-bottom: 80px;
}
.card-group{
    display:flex;
    width: 1100px;
    margin: auto;
   justify-content: space-evenly;
   grid-template-columns: 1fr;

}
.card-group a{
    text-decoration: none;
    
}
.card-group a:hover{
    color: black;
}
.cards{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    max-width: 260px;
    /* padding-top: 40px; */
    background-color: #fafafa;
    /* background-color: white; */
    height: 410px;   
}
.card-description{
    max-width: 200px;
    padding: 20px;
    font-size: 15px;
    /* border: 1px solid;   */
    max-height: 200px;
    min-height: 200px;
    
}
.card-img{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    height: 190px;
    width: 240px;
}
figcaption{
    color: hsl(233, 8%, 62%);
    font-weight: light;
    font-family: montserrat;
    font-size: 10px;
    padding-top: 30px;
    
}
 span{
   font-weight: 400;
   font-family: montserrat;
   color: black;
   
}
span:hover{
    color: hsl(233, 8%, 62%);
}
.card-description p{
  font-family:'Times New Roman', Times, serif;
  font-size: 12.5px;
}

 /* .gallery{
    border: 2px;
    width: 200px;
    background-color: rgba(238, 232, 232, 0.934);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.gallery-img{
    border: 1px solid blue; 
    width: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

} */
footer{
    height: 25vh;
    justify-content: center;
    background-color: hsl(233, 26%, 24%);
    
    
}
.img-logo2{
   background-color: hsl(240, 9%, 53%);
   margin-bottom: 30px;
}
.icons{
    display: inline-block;
    padding-left: 70px;
    margin-left: 100px;
}
.img-icon{
    padding-left: 5px;
}
.footer-container1{
    margin-top: 20px;
    padding-left: 80px;
    display: inline-block;
}
ul{
   line-height: 30px;
}
.footer-container1 a{
    padding-right: 120px;
    color: #ffff;
    text-decoration: none;
}
.footer-container1 a:hover{
    text-decoration: underline;
}
.footer-container2{
   margin-top: 40px; 
  /* padding-left: 60px; */
  margin-right: 80px; 
  display: inline-block;
}
.request-btn3{
    border-radius: 15px;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px;
    width: 150px;
    color: #ffff;
    background-color: hsla(105, 77%, 49%, 0.909);
    border: none;
    background: linear-gradient( to right ,limegreen ,cyan);
    margin-bottom: 20px;
}
@media (max-width: 678px) { 
    nav{
        max-width: 650px;
        zoom: 95%;
        margin-left: 3rem;
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav-bar{
        display: flex;
        flex-direction: row;
    }
    #section1{
    max-width: 700px;
    margin: auto;
    background-image: none;
    }
    .mock-background{
        display: none;
        visibility: hidden;
    }
    #section2{
        grid-template-columns: 1fr;
        height: 200vh;
        max-width: 700px;
        
    }
    #section3{
        height: 100vh;
        max-width: 635px;
        
    }
    .card-group{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    a:hover{
        transform: none;
    }
    main{
        flex-direction: column;
        align-content: center;
        padding: 0 0 0 12rem;
       margin: auto;
    }
    .card-group{
        flex-direction: column;
        padding: 0 0 0 3rem;
        width: max-content
        

    }
    .cards{
       margin-top: 30px;
    }
    footer{
        margin-top: 300vh;
        flex-direction: column;
        padding-bottom: 150px;
        width: max-content;
        padding-right: 15rem;
        
    }
    .icons{
    padding-left: 12rem;
    }
    .footer-container1{
        display: block;
        padding-left: 12rem;

    }
    .footer-container2{
        display: block;
        padding-left: 15rem;

    }
    .attribution{
        max-width: 678px;
        width: max-content;
        padding-right: 15rem;
        padding-left: 7.4rem;
    }
}
